.idea

/node_modules
/backend/payroll_app/node_modules

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist
/backend/dist

.env
/payroll_app/.env

*.pid
*.seed
docker-compose.override.yml

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

coverage/

/build

pnpm-debug.log*
lerna-debug.log*

# Tests
/coverage
/.nyc_output

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
